# Dépendances
node_modules/

# Build
dist/
dist-ssr/

# Couverture de tests
coverage/

# Logs
*.log
npm-debug.log*

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.local
.env.*.local

# Vitest
.vitest-cache/
*.timestamp-*.mjs
